.pad-10 {
    /* padding: 10px; */
}

agm-map {
    height: 89.8vh;
    /* height: 100%; */
    /* height: 100%;
    width: 100%; */
}

.floating-panel {
    position: absolute;
    top: 70px;
    right: 0%;
    z-index: 5;
    background-color: transparent;
    padding: 20px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-class {
    font-size: 30px;
}

.centrarBoton {
    margin-right: 0%;
}

button {
    width: 100%;
}