<!-- MENU FLOTANTE -->
<div class="floating-panel " *ngIf="nombreConductor">
    <div class="container">
        <h3>

            <small *ngIf="nombreConductor" class="animated fadeIn">siguiendo a </small>
            <br>
            <!-- <mat-chip *ngIf="nombreConductor" class="animated fadeIn">{{nombreConductor}}</mat-chip> -->
            <span *ngIf="nombreConductor" class="badge badge-pill badge-primary animated fadeIn">{{nombreConductor}}</span>

        </h3>
    </div>
    <!-- SECCION DE BOTONES -->
    <mat-nav-list dense>
        <mat-list-item role="listitem">
            <button mat-flat-button color="warn" (click)="dejarDeSeguir()" *ngIf="nombreConductor" class="animated fadeIn faster centrarBoton">
                    Dejar de seguir 
                    <fa-icon style="padding-left:5px" [icon]="faTimesCircle"></fa-icon>
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-flat-button color="primary" (click)="compartirRuta()" *ngIf="nombreConductor && !compartir && online" class=" animated fadeIn faster centrarBoton">
                    Compartir Ruta 
                    <fa-icon style="padding-left:5px" [icon]="faShareSquare"></fa-icon>
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-flat-button color="warn" *ngIf="compartir && nombreConductor && online" (click)="dejarDeCompartir()" class=" animated fadeIn faster centrarBoton">
                    Dejar de compartir ruta
                    <fa-icon style="padding-left:5px" [icon]="faTimesCircle"></fa-icon>
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-flat-button color="primary" *ngIf="claveCompartir && compartir && online" mat-button class="centrarBoton" [matMenuTriggerFor]="menu1" (click)="openMyMenu()">
                    Ver Codigo de Ruta
                    <fa-icon style="padding-left:5px" [icon]="faBinoculars"></fa-icon>
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-menu #menu1="matMenu">
                <button mat-menu-item ngxClipboard [cbContent]="claveCompartir" (cbOnSuccess)="isCopiado = true" (click)="copy() " class="animated fadeIn faster centrarBoton">
                    <fa-icon *ngIf="claveCompartir" [icon]="faKey"></fa-icon>
                    {{claveCompartir}}
                </button>
            </mat-menu>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button matBadge="22" matBadgePosition="above after" matBadgeColor="warn" mat-flat-button color="primary" (click)="abrirChat()" *ngIf="nombreConductor" class="animated fadeIn faster centrarBoton">
                    Chat 
                    <fa-icon style="padding-left:5px" [icon]="faComments"></fa-icon>
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button *ngIf="nombreConductor && !isDirection" mat-flat-button color="warn" (click)="getDirection()" class="animated fadeIn faster centrarBoton">
                        Calcular Ruta 
                        <fa-icon style="padding-left:5px" [icon]="faTimesCircle"></fa-icon>
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button *ngIf="nombreConductor && isDirection" mat-flat-button color="warn" (click)="exitDirection()" class="animated fadeIn faster centrarBoton">
                        Dejar de Calcular Ruta 
                        <fa-icon style="padding-left:5px" [icon]="faTimesCircle"></fa-icon>
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button *ngIf="nombreConductor" mat-flat-button color="warn" (click)="asignarPedido()" class="animated fadeIn faster centrarBoton">
                    Asignar Pedido  
                    <fa-icon style="padding-left:5px" [icon]="faTimesCircle"></fa-icon>
            </button>
        </mat-list-item>
    </mat-nav-list>
    <!-- FIN SECCION DE BOTONES -->
</div>
<!-- MENU FLOTANTE -->

<!-- SECCION DEL MAPA -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
    <agm-direction *ngIf="isDirection" [origin]="origin" [destination]="destination">
    </agm-direction>
    <span *ngIf="!isDirection">
            <agm-marker (markerClick)="abrirMarcador()" *ngFor="let conductor of conductores" [label]="labelOptions" [iconUrl]="icon" [latitude]="conductor.lat" [longitude]="conductor.lng">
                <agm-info-window>
                    {{conductor.nombre}}
                </agm-info-window>
            </agm-marker>
    </span>
</agm-map>
<!-- FIN SECCION DEL MAPA -->